<div class="footer">
      <section class="footer-header">
        <div class="content-footer">
          <div class="footer-sub-section-1">
            <div class="sub-1">
              <img
              class="oluwaferanmis-logo"
              loading="lazy"
              alt="oluwaferanmis-logo"
              src="/assets/oluwaferanmis-logo.svg"
              />

              <div class="oluwaferanmi-abodunde">Oluwaferanmi Abodunde</div>
            </div>
            <div class="i-am-passionate">
              I am passionate about helping others build impactful websites and
              establish a strong digital presence.
            </div>
            <div class="social-platforms">Social Platforms</div>
            <div class="social-icons-row">
              <div class="icon-column-1">
                <a href="https://x.com/oluwaferanmi_07"><img
                  class="akar-iconsx-fill"
                  loading="lazy"
                  alt="twitter-x icon"
                  src="/assets/akar-icons_x-fill.svg"
                /></a>

                <a href="https://web.facebook.com/profile.php?id=61566161082419"><img
                  class="deviconfacebook"
                  loading="lazy"
                  alt="facebook icon"
                  src="assets/devicon_facebook.svg"
                /></a>
              </div>
              <div class="icon-column-2">
                <a href="https://www.linkedin.com/in/oluwaferanmi-abodunde-1428b7298/"><img
                  class="pajamaslinkedin-icon"
                  loading="lazy"
                  alt="linkedin icon"
                  src="assets/pajamas_linkedin.svg"
                /></a>

                <a href="https://www.youtube.com/@oluwaferanmiabodunde4252"><img
                  class="biyoutube-icon"
                  loading="lazy"
                  alt="youtube icon"
                  src="assets/bi_youtube.svg"
                /></a>
              </div>
            </div>
          </div>
        </div>
        <div class="separator"></div>
        <div class="contactMe">
          <div class="message-form">
            <div class="leave-a-message">Leave a Message</div>
            <div class="contact-details">
              <div class="mdigmail-parent">
                <img
                  class="mdigmail-icon"
                  loading="lazy"
                  alt="gmail icon"
                  src="assets/mdi_gmail.svg"
                />

                <div class="email-address">
                  <div class="abodundeoluwaferanmigmailcom">abodundeoluwaferanmi@gmail.com</div>
                </div>
              </div>
              <div class="icoutline-whatsapp-parent">
                <img
                  class="icoutline-whatsapp-icon"
                  loading="lazy"
                  alt="whatsapp icon"
                  src="assets/ic_outline-whatsapp.svg"
                />

                <div class="whatsapp-number">
                  <div class="placeholder">+234 806 254 2164</div>
                </div>
              </div>
            </div>
            <div class="availability">
              <img
                class="uilcalender-icon"
                loading="lazy"
                alt="calender icon"
                src="assets/uil_calender.svg"
              />

              <div class="available-time">
                <div class="im-available-for">
                  I’m available for Business Anytime
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class="copyright">
        <div class="abodunde-oluwaferanmi">
          <span class="abodunde-oluwaferanmi1">© 2024, Abodunde Oluwaferanmi</span>
        </div>
      </div>
    </div>

</body>
</html>

