<head>
    <link rel="stylesheet" href="styles/index.css" />
  </head>
  

<header>
 <div class="header-section-icon">
    <div class="oluwaferanmis-logo">
      <a href="/"><img
        class="oluwaferanmis-logo"
        loading="lazy"
        alt="oluwaferanmis-logo"
        src="/assets/oluwaferanmis-logo.svg"
        /></a>
    </div>

    
<div class="navigation">
    <div class="nav-bar">
    <div class="home-link">
      <a class="home" href="/">Home</a>
    </div>
    <img
      class="line"
      loading="lazy"
      alt="line"
      src="/assets/Line.svg"
    />

    <div class="home-link1">
      <a class="technologies" href="/technologies">Technologies</a>
    </div>
    <img
      class="line"
      loading="lazy"
      alt="line"
      src="/assets/Line.svg"
    />

    <div class="home-link2">
      <a class="portfolio" href="/portfolio">Portfolio</a>
    </div>
    <img
      class="line"
      loading="lazy"
      alt="line"
      src="/assets/Line.svg"
    />

    <div class="home-link3">
      <a class="certificates" href="/certificates">Certificates</a>
    </div>
    <img
      class="line"
      loading="lazy"
      alt="line"
      src="/assets/Line.svg"
    />

    <div class="home-link4">
      <a class="contact" href="/contact">Contact</a>
    </div>
    <img
      class="line"
      loading="lazy"
      alt="line"
      src="/assets/Line.svg"
    />

    <div class="home-link5">
      <a class="blog" href="/blog">Blog</a>
    </div>
  </div>
</div>
    
</div>
</header>