<head>
    <link rel="stylesheet" href="styles/index3.css" />
  </head>
    
<div class="blue-section">
    <header class="header">
        <a href="/"><img
          class="oluwaferanmis-logo"
          loading="lazy"
          alt="oluwaferanmis-logo"
          src="assets/oluwaferanmis-logo.svg"
        /></a>

        <img
          class="mingcutemenu-fill-icon"
          loading="lazy"
          alt="menu-bar"
          src="assets/menu-fill.svg"
          id="mingcutemenuFill"
        />
    </header>
    
    <section class="center-card-section">
        <div class="text-card">
          <div class="h1">
            <h2 class="hi-im-oluwaferanmi-im-container">
              <span>
                <p class="hi-im-oluwaferanmi">
                  <span class="hi-im">About</span>
                  <span>Oluwaferanmi</span>
                </p>
                <p class="im-a-web-developer im-a-full-stack">
                  <span>I’m a full stack web developer based in Ibadan, Nigeria.</span>
                  <span class="span1"> </span>
                </p>
              </span>
            </h2>
          </div>
          <div class="h3 h3-a">
                <div class="i-am-a i-love">
                    I love crafting beautiful, high-quality projects that work flawlessly. I’m always up for learning new things and taking my skills to the next level. I’m more of a laid-back guy who prefers coding over parties, but I’m all about creating something awesome that stands out. Let’s build something cool together!
                </div>
            </div>
        </div>


        <div class="my-image">
            <img class="my-image-icon" alt="My Image" src="assets/Image Design.png" />
          <svg width="188" height="102" viewBox="0 0 188 102" fill="none" xmlns="http://www.w3.org/2000/svg" class="my-image-child Polygon_1">
            <path d="M17.316 93.884L94 11.8657L170.684 93.884H17.316Z" stroke-width="15"/>
         </svg>

         <svg width="188" height="102" viewBox="0 0 188 102" fill="none" xmlns="http://www.w3.org/2000/svg" class="my-image-item Polygon_3">
            <path d="M17.316 93.884L94 11.8657L170.684 93.884H17.316Z" stroke-width="15"/>
         </svg>


         <svg width="188" height="102" viewBox="0 0 188 102" fill="none" xmlns="http://www.w3.org/2000/svg" class="my-image-inner Polygon_2">
            <path d="M17.316 93.884L94 11.8657L170.684 93.884H17.316Z" stroke-width="15"/>
         </svg>

         <svg width="188" height="102" viewBox="0 0 188 102" fill="none" xmlns="http://www.w3.org/2000/svg" class="polygon-icon Polygon_1">
          <path d="M17.316 93.884L94 11.8657L170.684 93.884H17.316Z" stroke-width="15"/>
        </svg>

        </div>
    </section>
</div>

<div id="menuBarPopup" class="popup-overlay" style="display: none">
      <div class="menu-bar">
        <main class="frame-parent">
          <section class="home-wrapper">
            <a class="home" href="/">Home</a>
          </section>
          <section class="technologies-wrapper">
            <a class="technologies" href="/technologies">Technologies</a>
          </section>
          <section class="portfolio-wrapper">
            <a class="portfolio" href="/portfolio">Portfolio</a>
          </section>
          <section class="certificates-wrapper">
            <a class="certificates" href="/certificates">Certificates</a>
          </section>
          <section class="contact-wrapper">
            <a class="contact" href="/contact">Contact</a>
          </section>
          <section class="blog-wrapper">
            <a class="blog" href="/blog">Blog</a>
          </section>
        </main>

      <img
        class="mdicancel-bold-icon"
        loading="lazy"
        alt="cancel-icon"
        src="assets/cancel.png"
        id="mdicancelBoldImage"
      />
      </div>
</div>


<div class="photo-gallary">

        <div class="img-20240810-125846-333415020-wrapper">
            <img
              class="img-20240810-125846-333415020-icon"
              loading="lazy"
              alt="Oluwaferanmi's Image"
              src="/assets/white-pic.png"
            />
          </div>
          <div class="photo-gallary-inner">
            <img
              class="frame-child"
              loading="lazy"
              alt="Ibadan"
              src="/assets/ibadan.png"
            />
          </div>
          <div class="img-20240223-150324-425136708-wrapper">
            <img
              class="img-20240223-150324-425136708-icon"
              loading="lazy"
              alt="Oluwaferanmi's Image"
              src="/assets/blue-pic.png"
            />
          </div>
          <div class="photo-gallary-child">
            <img
              class="frame-item"
              loading="lazy"
              alt="laptop"
              src="/assets/laptop.png"
            />
          </div>
  </div>



  <div class="aboutMe">
    <main class="polygon-parent">
      


      <section class="frame-parent0">
        <div class="frame-group">
          


            <img
            class="frame-icon1"
            loading="lazy"
            alt="Background Image"
            src="/assets/Man.png"
          />




        </div>


        <div class="im-17-years-container">
          <div class="my-life-outside">My Life Outside Coding</div>
          <p class="blank-line">&nbsp;</p>
          <ul>
          <li><p class="im-17-years">I’m <%= new Date().getFullYear() - 2007 - (new Date().getMonth() < 4 || (new Date().getMonth() === 4 && new Date().getDate() < 20) ? 1 : 0) %> years old.</p></li>
          <p class="blank-line">&nbsp;</p>
          <li><p class="im-a-200">
            I’m a 200 level Student of Obafemi Awolowo University.
          </p></li>
          <p class="blank-line1">&nbsp;</p>
          <li><p class="i-love-marvel">I love Marvel Movies.</p></li>
          <p class="blank-line2">&nbsp;</p>
          <li><p class="i-got-interested">
            I got interested in programming and things related to programming
            when I was little.
          </p></li>
          <p class="blank-line3">&nbsp;</p>
          <li><p class="im-more-of">I’m more of an introvert.</p></li>
          <p class="blank-line4">&nbsp;</p>
          <li><p class="i-love-watching">
            I love watching football. I must add, I’m a Manchester United fan
            😎😎
          </p></li>
          <p class="blank-line5">&nbsp;</p>
          <li><p class="im-a-christian">I’m a Christian</p></li>
          <p class="blank-line6">&nbsp;</p>
          <li><p class="my-favorite-movie">
            My favorite movie of all time is Avengers Endgame.
          </p></li>
        </ul>
        </div>
      </section>
    </main>
  </div>


  <section>
    <div class="front-end">
      <div class="front-end-inner">
        <div class="my-front-end-development-skill-parent">
          <div class="my-front-end-development">
            My Front-End Development Skills
          </div>
          <div class="id-give-my">
            I’d give my front-end skills a 75% because, while I can craft
            awesome, functional sites, I know there's more cool stuff out there
            to master. I'm solid with HTML, CSS, and JavaScript, but there's
            always room to level up and learn new tricks. I'm excited to keep
            growing and make that 75% soar!
          </div>
        </div>
      </div>
      <div class="frame-parent1">
        <div class="fa6-solid7-parent">
          <img
            class="fa6-solid7-icon"
            loading="lazy"
            alt="seven"
            src="/assets/seven.png"
          />
  
          <img
            class="fa6-solid5-icon"
            loading="lazy"
            alt="five"
            src="/assets/five.png"
          />
  
          <img
            class="icoutline-percentage-icon"
            loading="lazy"
            alt="percentage"
            src="/assets/percent.png"
          />
    </div>
  
  </div>
  </section>



  <section> 
    <div class="back-end">
      <div class="frame-parent1">
        <div class="fa6-solid7-parent">
          <img
            class="fa6-solid7-icon"
            loading="lazy"
            alt=""
            src="/assets/eight.png"
          />
  
          <img
            class="fa6-solid5-icon"
            loading="lazy"
            alt=""
            src="/assets/zero.png"
          />
  
          <img
            class="icoutline-percentage-icon"
            loading="lazy"
            alt=""
            src="/assets/percent2.png"
          />
        </div>
      </div>
  
      <div class="front-end-inner">
        <div class="my-front-end-development-skill-parent">
          <div class="my-front-end-development">
            My Back-End Development Skills
          </div>
          <div class="id-give-my">
            I rated my backend skills at 80% because I’ve got a strong grip on building robust, efficient systems, but there’s always more to explore. I’m confident with databases, servers, and APIs, but I’m eager to dig deeper into advanced concepts and refine my expertise. The journey to 100% is ongoing, and I’m excited to keep leveling up!
          </div>
        </div>
      </div>
    </div>
  </section>

<%- include('inner_partials/footer1.ejs'); -%>
