<div class="blue-section">
    <%- include('inner_partials/header2.ejs'); -%>
      <section class="center-card-section">
        <div class="text-card">
          <div class="h1">
            <h2 class="hi-im-oluwaferanmi-im-container">
              <span>
                <p class="hi-im-oluwaferanmi">
                  <span>Certificates</span>
                </p>
                <p class="im-a-web-developer im-a-full-stack">
                  <span>Do I have certificates? Of course, I do. I have certificates to back up my skills.</span>
                  <span class="span1"> </span>
                </p>
              </span>
            </h2>
          </div>

         
        </div>
        <div class="my-image">
            <img class="my-image-icon" alt="My Image" src="assets/Image Design.png" />
          <svg width="188" height="102" viewBox="0 0 188 102" fill="none" xmlns="http://www.w3.org/2000/svg" class="my-image-child Polygon_1">
            <path d="M17.316 93.884L94 11.8657L170.684 93.884H17.316Z" stroke-width="15"/>
         </svg>

         <svg width="188" height="102" viewBox="0 0 188 102" fill="none" xmlns="http://www.w3.org/2000/svg" class="my-image-child1 Polygon_1">
          <path d="M17.316 93.884L94 11.8657L170.684 93.884H17.316Z" stroke-width="15"/>
        </svg>

         <svg width="188" height="102" viewBox="0 0 188 102" fill="none" xmlns="http://www.w3.org/2000/svg" class="my-image-item Polygon_3">
            <path d="M17.316 93.884L94 11.8657L170.684 93.884H17.316Z" stroke-width="15"/>
         </svg>


         <svg width="188" height="102" viewBox="0 0 188 102" fill="none" xmlns="http://www.w3.org/2000/svg" class="my-image-inner Polygon_2">
            <path d="M17.316 93.884L94 11.8657L170.684 93.884H17.316Z" stroke-width="15"/>
         </svg>
        </div>
      </section>
    </div>

</div>


<div class="section-2">
    <div class="dr-yu-certificate">
      <h3 class="certificate-presented-by">
        Certificate presented by Dr. Angela Yu.
      </h3>
    </div>
    <section class="frame-parent2">
      <div class="this-certificate-was-issued-on-wrapper">
        <div class="this-certificate-was">
          This certificate was issued on the 20th of August, 2024. The journey
          to this success started in late November 2023. This course covered
          the complete web development bootcamp, focusing on implementing the
          latest technologies and tools to become a skilled web developer. The
          course totaled 61.5 hours and included a series of quizzes, tasks,
          and assignments. So you see, you're in safe hands if I handle your
          project.
        </div>
      </div>
      <div class="frame-group1">
        <div class="img-20240820-wa0003-1-wrapper">
          <img
            class="img-20240820-wa0003-1-icon"
            loading="lazy"
            alt=""
            src="assets/angela-cert.png"
          />
        </div>
        <button class="sign-up-wrapper">
          <div class="sign-up">
            <a class="view" href="/view">View</a>
          </div>
        </button>
      </div>
    </section>
  </div>


  <%- include('inner_partials/footer1.ejs'); -%>