<div class="blue-section">
    <%- include('inner_partials/header2.ejs'); -%>
      <section class="center-card-section">
        <div class="text-card">
          <div class="h1">
            <h2 class="hi-im-oluwaferanmi-im-container">
              <span>
                <p class="hi-im-oluwaferanmi">
                  <span class="hi-im">Contact</span>
                  <span>Oluwaferanmi</span>
                </p>
                <p class="im-a-web-developer im-a-full-stack">
                  <span>Get in touch with me via social media or email.</span>
                  <span class="span1"> </span>
                </p>
              </span>
            </h2>
          </div>
            <div class="icons">
                <a href="https://web.facebook.com/profile.php?id=61566161082419"><div class="icons-grid">
                    <img
                      class="logosfacebook-icon"
                      loading="lazy"
                      alt="facebook"
                      src="/assets/facebook_round.svg"
                    />
            
                    <div class="brand-names">
                      <div class="facebook">Facebook</div>
                    </div>
                  </div></a>
                  <a href="https://www.linkedin.com/in/oluwaferanmi-abodunde-1428b7298/"><div class="icons-grid1">
                    <img
                      class="image-1-icon"
                      loading="lazy"
                      alt="linkedin"
                      src="/assets/linkedin_round.svg"
                    />
            
                    <div class="linkedin-wrapper">
                      <div class="linkedin">LinkedIn</div>
                    </div>
                  </div></a>
                  <a href="https://wa.link/f7b5nc"><div class="icons-grid2">
                    <img
                      class="logoswhatsapp-icon"
                      loading="lazy"
                      alt="whatsapp"
                      src="/assets/whatsapp_round.svg"
                    />
            
                    <div class="whatsapp-wrapper">
                      <div class="whatsapp">WhatsApp</div>
                    </div>
                  </div></a>
                  <a href="https://x.com/oluwaferanmi_07"><div class="icons-grid3">
                    <img
                      class="frame-icon2"
                      loading="lazy"
                      alt="twitter-x"
                      src="/assets/x_round.svg"
                    />
            
                    <div class="twitter-x-wrapper">
                      <div class="twitter-x">Twitter X</div>
                    </div>
                  </div></a>
              </div>
         
        </div>
        <div class="my-image">
            <img class="my-image-icon" alt="My Image" src="assets/Image Design.png" />
          <svg width="188" height="102" viewBox="0 0 188 102" fill="none" xmlns="http://www.w3.org/2000/svg" class="my-image-child Polygon_1">
            <path d="M17.316 93.884L94 11.8657L170.684 93.884H17.316Z" stroke-width="15"/>
         </svg>

         <svg width="188" height="102" viewBox="0 0 188 102" fill="none" xmlns="http://www.w3.org/2000/svg" class="my-image-child1 Polygon_1">
          <path d="M17.316 93.884L94 11.8657L170.684 93.884H17.316Z" stroke-width="15"/>
        </svg>

         <svg width="188" height="102" viewBox="0 0 188 102" fill="none" xmlns="http://www.w3.org/2000/svg" class="my-image-item Polygon_3">
            <path d="M17.316 93.884L94 11.8657L170.684 93.884H17.316Z" stroke-width="15"/>
         </svg>


         <svg width="188" height="102" viewBox="0 0 188 102" fill="none" xmlns="http://www.w3.org/2000/svg" class="my-image-inner Polygon_2">
            <path d="M17.316 93.884L94 11.8657L170.684 93.884H17.316Z" stroke-width="15"/>
         </svg>
        </div>
      </section>
    </div>

    <div class="email">
        <h3 class="send-me-an">Send me an email</h3>
        <form class="recipient-info-parent" id="contact-form" action="/send-email" method="POST">
          <div class="recipient-info">
            <div class="recipient-details">
              <div class="name">Name</div>
              <input class="recipient-details-child" type="text" name="name"/>
            </div>
            <div class="recipient-details1">
              <div class="email1">Email</div>
              <input class="recipient-details-item" type="email" name="email"/>
            </div>
          </div>
          <div class="recipient-message">
            <div class="message">Message</div>
          <textarea class="frame-child4" rows="14" cols="34" placeholder="What do you want to share with Oluwaferanmi?" name="message"></textarea>
          <div class="send-div">
            <button class="send">
              <div class="send-email">Send email</div>
            </button>
          </div>
          </div>
        </form>
      </div>
  </div>

      
        <%- include('inner_partials/footer1.ejs'); -%>