<head>
    <link rel="stylesheet" href="styles/index4.css" />
  </head>


    <div class="blue-section">
        <header class="header">
          <a href="/"><img
            class="oluwaferanmis-logo"
            loading="lazy"
            alt="oluwaferanmis-logo"
            src="assets/oluwaferanmis-logo.svg"
            /></a>

            <img
            class="mingcutemenu-fill-icon"
            loading="lazy"
            alt="menu-bar"
            src="assets/menu-fill.svg"
            id="mingcutemenuFill"
            />
        </header>
      
        <section class="center-card-section">
            <div class="text-card">
                <div class="h1">
                    <h3 class="hi-im-oluwaferanmi-im-container">
                    <span class="hi-im-oluwaferanmi-im-container1">
                        <p class="hi-im-oluwaferanmi">
                        <span class="hi-im">Hi 👋, I'm</span>
                        <span>Oluwaferanmi</span>
                        </p>
                        <p class="im-a-web-developer">
                        <span>I'm a web developer</span>
                        <span class="span1"> </span>
                        </p>
                    </span>
                    </h3>
                </div>
            
                <div class="h3">
                    <div class="i-am-a">
                    I am a web developer committed to delivering visually stunning,
                    modern, and inspiring designs that elevate user experiences.
                    </div>
                </div>
            
                <a href="/about"><button class="button">
                    <div class="button-content">
                    <div class="button-container">
                        <img
                        class="basilbag-outline-icon"
                        loading="lazy"
                        alt="bag-icon"
                        src="assets/bag.svg"
                    />
                    <div class="about">
                        About
                    </div>
                    </div>
                </button></a>
            <svg width="188" height="102" viewBox="0 0 188 102" fill="none" xmlns="http://www.w3.org/2000/svg" class="content-shape-icon Polygon_1">
                <path d="M17.316 93.884L94 11.8657L170.684 93.884H17.316Z" stroke-width="15"/>
            </svg>

            <svg width="188" height="102" viewBox="0 0 188 102" fill="none" xmlns="http://www.w3.org/2000/svg" class="content-shape-icon1 Polygon_3">
                <path d="M17.316 93.884L94 11.8657L170.684 93.884H17.316Z" stroke-width="15"/>
            </svg>
            </div>
        </section>
      <svg width="188" height="102" viewBox="0 0 188 102" fill="none" xmlns="http://www.w3.org/2000/svg" class="shape-icon Polygon_2">
        <path d="M17.316 93.884L94 11.8657L170.684 93.884H17.316Z" stroke-width="15"/>
     </svg>

     <svg width="188" height="102" viewBox="0 0 188 102" fill="none" xmlns="http://www.w3.org/2000/svg" class="blue-section-child Polygon_1">
        <path d="M17.316 93.884L94 11.8657L170.684 93.884H17.316Z" stroke-width="15"/>
     </svg>
    </div>

    <div id="menuBarPopup" class="popup-overlay" style="display: none">
        <div class="menu-bar">
          <main class="frame-parent">
            <section class="home-wrapper">
              <a class="home" href="/">Home</a>
            </section>
            <section class="technologies-wrapper">
              <a class="technologies" href="/technologies">Technologies</a>
            </section>
            <section class="portfolio-wrapper">
              <a class="portfolio" href="/portfolio">Portfolio</a>
            </section>
            <section class="certificates-wrapper">
              <a class="certificates" href="/certificates">Certificates</a>
            </section>
            <section class="contact-wrapper">
              <a class="contact" href="/contact">Contact</a>
            </section>
            <section class="blog-wrapper">
              <a class="blog" href="/blog">Blog</a>
            </section>
          </main>
  
        <img
          class="mdicancel-bold-icon"
          loading="lazy"
          alt="cancel-icon"
          src="assets/cancel.png"
          id="mdicancelBoldImage"
        />
        </div>
      </div>
  

      <div class="section-2body">
        <svg preserveAspectRatio="none" viewBox="0 0 100 100" class="background">
            <path fill="#FFB6A0" class="out-top" d="M37-5C25.1-14.7,5.7-19.1-9.2-10-28.5,1.8-32.7,31.1-19.8,49c15.5,21.5,52.6,22,67.2,2.3C59.4,35,53.7,8.5,37-5Z"/>
            <path fill="#E5A0FF" class="in-top" d="M20.6,4.1C11.6,1.5-1.9,2.5-8,11.2-16.3,23.1-8.2,45.6,7.4,50S42.1,38.9,41,24.5C40.2,14.1,29.4,6.6,20.6,4.1Z"/>
            <path fill="#04C3FD" class="out-bottom" d="M105.9,48.6c-12.4-8.2-29.3-4.8-39.4.8-23.4,12.8-37.7,51.9-19.1,74.1s63.9,15.3,76-5.6c7.6-13.3,1.8-31.1-2.3-43.8C117.6,63.3,114.7,54.3,105.9,48.6Z"/>
            <path fill="#A0E9FF" class="in-bottom" d="M102,67.1c-9.6-6.1-22-3.1-29.5,2-15.4,10.7-19.6,37.5-7.6,47.8s35.9,3.9,44.5-12.5C115.5,92.6,113.9,74.6,102,67.1Z"/>
          </svg>
        <main class="div">
          <h1 class="what-i-offer">What I Offer ✌</h1>
          <section class="card-body">
            <div class="card">
              <img
                class="card-child"
                loading="lazy"
                alt="Modern Project"
                src="/assets/Frame 3.png"
              />
  
              <div class="text">
                <div class="title">
                  <h1 class="modern-project">Modern Project</h1>
                </div>
                <div class="content">
                  <div class="i-focus-on">
                    I focus on utilizing contemporary design principles and
                    cutting-edge technology. I prioritize responsive design,
                    ensuring that the project looks and functions well on all
                    devices.
                  </div>
                </div>
              </div>
            </div>
            <div class="card1">
              <img
                class="card-item"
                loading="lazy"
                alt="Trustworthiness"
                src="/assets/trust.png"
              />
  
              <div class="text">
                <div class="title">
                  <h1 class="trustworthiness">Trustworthiness</h1>
                </div>
                <div class="content1">
                  <div class="trustworthiness-is-central">
                    Trustworthiness is central to my work. I prioritize
                    transparent communication, ensuring clients are always
                    informed and involved. I consistently meet deadlines and
                    deliver on promises, building a strong foundation of
                    reliability.
                  </div>
                </div>
              </div>
            </div>
            <div class="card2">
              <img
                class="card-inner"
                loading="lazy"
                alt="Responsive-frontend"
                src="/assets/front.png"
              />
  
              <div class="text">
                <div class="title">
                  <h2 class="responsive-frontend">Responsive Frontend</h2>
                </div>
                <div class="content2">
                  <div class="i-ensure-that">
                    I ensure that every project I work on provides an optimal user
                    experience across all devices, from desktops to smartphones.
                    By leveraging modern frameworks and best practices.
                  </div>
                </div>
              </div>
            </div>
            <div class="card3">
              <img
                class="frame-icon"
                loading="lazy"
                alt="functional-backend"
                src="/assets/Back.png"
              />
  
              <div class="text">
                <div class="title">
                  <h2 class="functional-backend">Functional Backend</h2>
                </div>
                <div class="content3">
                  <div class="my-focus-is">
                    My focus is on writing clean, modular code that enhances
                    performance and simplifies maintenance. By integrating secure
                    and reliable APIs, databases, and server environments, I
                    provide a solid foundation for any application.
                  </div>
                </div>
              </div>
            </div>
          </section>
        </main>
      </div>

      <%- include('inner_partials/footer2.ejs'); -%>