<head>
    <link rel="stylesheet" href="styles/index3.css" />
  </head>
    
<div class="blue-section">
    <header class="header">
        <a href="/"><img
          class="oluwaferanmis-logo"
          loading="lazy"
          alt="oluwaferanmis-logo"
          src="assets/oluwaferanmis-logo.svg"
        /></a>

        <img
          class="mingcutemenu-fill-icon"
          loading="lazy"
          alt="menu-bar"
          src="assets/menu-fill.svg"
          id="mingcutemenuFill"
        />
    </header>
    
    <section class="center-card-section">
        <div class="text-card">
          <div class="h1">
            <h2 class="hi-im-oluwaferanmi-im-container">
              <span>
                <p class="hi-im-oluwaferanmi">
                  <span>Technologies</span>
                </p>
                <p class="im-a-web-developer im-a-full-stack">
                  <span>Tools I use to craft modern and responsive websites.</span>
                  <span class="span1"> </span>
                </p>
              </span>
            </h2>
          </div>
        </div>


        <div class="my-image">
            <img class="my-image-icon" alt="My Image" src="assets/Image Design.png" />
          <svg width="188" height="102" viewBox="0 0 188 102" fill="none" xmlns="http://www.w3.org/2000/svg" class="my-image-child Polygon_1">
            <path d="M17.316 93.884L94 11.8657L170.684 93.884H17.316Z" stroke-width="15"/>
         </svg>

         <svg width="188" height="102" viewBox="0 0 188 102" fill="none" xmlns="http://www.w3.org/2000/svg" class="my-image-item Polygon_3">
            <path d="M17.316 93.884L94 11.8657L170.684 93.884H17.316Z" stroke-width="15"/>
         </svg>


         <svg width="188" height="102" viewBox="0 0 188 102" fill="none" xmlns="http://www.w3.org/2000/svg" class="my-image-inner Polygon_2">
            <path d="M17.316 93.884L94 11.8657L170.684 93.884H17.316Z" stroke-width="15"/>
         </svg>

         <svg width="188" height="102" viewBox="0 0 188 102" fill="none" xmlns="http://www.w3.org/2000/svg" class="polygon-icon Polygon_1">
          <path d="M17.316 93.884L94 11.8657L170.684 93.884H17.316Z" stroke-width="15"/>
        </svg>

        </div>
    </section>
</div>

<div id="menuBarPopup" class="popup-overlay" style="display: none">
      <div class="menu-bar">
        <main class="frame-parent">
          <section class="home-wrapper">
            <a class="home" href="/">Home</a>
          </section>
          <section class="technologies-wrapper">
            <a class="technologies" href="/technologies">Technologies</a>
          </section>
          <section class="portfolio-wrapper">
            <a class="portfolio" href="/portfolio">Portfolio</a>
          </section>
          <section class="certificates-wrapper">
            <a class="certificates" href="/certificates">Certificates</a>
          </section>
          <section class="contact-wrapper">
            <a class="contact" href="/contact">Contact</a>
          </section>
          <section class="blog-wrapper">
            <a class="blog" href="/blog">Blog</a>
          </section>
        </main>

      <img
        class="mdicancel-bold-icon"
        loading="lazy"
        alt="cancel-icon"
        src="assets/cancel.png"
        id="mdicancelBoldImage"
      />
      </div>
</div>


<div class="stack">
    <svg preserveAspectRatio="none" viewBox="0 0 100 100" class="background">
        <path fill="#FFB6A0" class="out-top" d="M37-5C25.1-14.7,5.7-19.1-9.2-10-28.5,1.8-32.7,31.1-19.8,49c15.5,21.5,52.6,22,67.2,2.3C59.4,35,53.7,8.5,37-5Z"/>
        <path fill="#E5A0FF" class="in-top" d="M20.6,4.1C11.6,1.5-1.9,2.5-8,11.2-16.3,23.1-8.2,45.6,7.4,50S42.1,38.9,41,24.5C40.2,14.1,29.4,6.6,20.6,4.1Z"/>
        <path fill="#04C3FD" class="out-bottom" d="M105.9,48.6c-12.4-8.2-29.3-4.8-39.4.8-23.4,12.8-37.7,51.9-19.1,74.1s63.9,15.3,76-5.6c7.6-13.3,1.8-31.1-2.3-43.8C117.6,63.3,114.7,54.3,105.9,48.6Z"/>
        <path fill="#A0E9FF" class="in-bottom" d="M102,67.1c-9.6-6.1-22-3.1-29.5,2-15.4,10.7-19.6,37.5-7.6,47.8s35.9,3.9,44.5-12.5C115.5,92.6,113.9,74.6,102,67.1Z"/>
      </svg>
    
    <div class="cover">
        <header class="technologies0">
            <div class="title_stack">
              <div class="technologies1">Technologies</div>
            </div>
          </header>
          <main class="technologies2">
            <div class="description-list-parent">
              <div class="description-list">
                <div class="html-html-hypertext-container">
                  <p class="html">HTML</p>
                  <p class="space">&nbsp;</p>
                  <p class="html-hypertext-markup">
                    HTML (HyperText Markup Language) is the standard language used
                    to create and structure content on the web, defining the
                    elements such as headings, paragraphs, links, and images that
                    make up a webpage. <a class="link_style" href="https://en.wikipedia.org/wiki/HTML">Learn More</a>
                  </p>
                </div>
              </div>
              <div class="image-list">
                <img
                  class="image-icon"
                  loading="lazy"
                  alt="html"
                  src="/assets/html.png"
                />
              </div>
            </div>
            <div class="framey-parent">
              <div class="css-css-cascading-style-sheet-wrapper">
                <div class="css-css-cascading-container">
                  <p class="css">CSS</p>
                  <p class="space1">&nbsp;</p>
                  <p class="css-cascading-style">
                    CSS (Cascading Style Sheets) is a stylesheet language used to
                    control the presentation, layout, and visual design of web
                    pages, allowing for the separation of content and style. <a class="link_style" href="https://en.wikipedia.org/wiki/CSS">Learn
                    More</a>
                  </p>
                </div>
              </div>
              <div class="image-wrapper">
                <img class="image-icon1" alt="css" src="/assets/css.png" />
              </div>
            </div>
            <div class="frame-group2">
              <div class="javascript-javascript-is-a-ver-wrapper">
                <div class="javascript-javascript-is-container">
                  <p class="javascript">JavaScript</p>
                  <p class="space2">&nbsp;</p>
                  <p class="javascript-is-a">
                    JavaScript is a versatile programming language used to create
                    interactive and dynamic content on websites, enabling features
                    like animations, form validation, and real-time updates. <a class="link_style" href="https://en.wikipedia.org/wiki/JavaScript">Learn
                    More</a>
                  </p>
                </div>
              </div>
              <div class="image-container">
                <img class="image-icon2" alt="javascript" src="/assets/Javascript.png" />
              </div>
            </div>
            <div class="frame-container">
              <div class="react-react-is-a-javascript-li-wrapper">
                <div class="react-react-is-container">
                  <p class="react">React</p>
                  <p class="blank-line3">&nbsp;</p>
                  <p class="react-is-a">
                    React is a JavaScript library for building user interfaces,
                    allowing developers to create reusable components and
                    efficiently manage the state of web applications. <a class="link_style" href="https://en.wikipedia.org/wiki/React_(JavaScript_library)">Learn More</a>
                  </p>
                </div>
              </div>
              <div class="image-frame">
                <img class="image-icon3" alt="react" src="/assets/react.png" />
              </div>
            </div>
            <div class="frame-div">
              <div class="jquery-jquery-is-a-fast-light-wrapper">
                <div class="jquery-jquery-is-container">
                  <p class="jquery">JQuery</p>
                  <p class="blank-line4">&nbsp;</p>
                  <p class="jquery-is-a">
                    jQuery is a fast, lightweight JavaScript library that simplifies
                    HTML document manipulation, event handling, and animation,
                    making it easier to add interactivity to websites. <a class="link_style" href="https://en.wikipedia.org/wiki/JQuery">Learn More</a>
                  </p>
                </div>
              </div>
              <div class="image-wrapper1">
                <img class="image-icon4" alt="jQuery" src="/assets/jquery.png" />
              </div>
            </div>
            <div class="framey-parent1">
              <div class="postgresql-postgresql-is-an-ad-wrapper">
                <div class="postgresql-postgresql-is-container">
                  <p class="postgresql">PostgreSQL</p>
                  <p class="space5">&nbsp;</p>
                  <p class="postgresql-is-an">
                    PostgreSQL is an advanced open-source relational database
                    management system known for its reliability, feature robustness,
                    and support for complex queries and large datasets. <a class="link_style" href="https://en.wikipedia.org/wiki/PostgreSQL">Learn More</a>
                  </p>
                </div>
              </div>
              <div class="image-wrapper2">
                <img class="image-icon5" alt="postgres" src="/assets/postgres.png" />
              </div>
            </div>
            <div class="framey-parent2">
              <div class="nodejs-nodejs-is-a-runtime-e-wrapper">
                <div class="nodejs-nodejs-is-container">
                  <p class="nodejs">Node.js</p>
                  <p class="blank-line6">&nbsp;</p>
                  <p class="nodejs-is-a">
                    Node.js is a runtime environment that allows developers to
                    execute JavaScript code on the server side, enabling the
                    creation of scalable, high-performance web applications. <a class="link_style" href="https://en.wikipedia.org/wiki/Node.js">Learn
                    More</a>
                  </p>
                </div>
              </div>
              <div class="image-wrapper3">
                <img class="image-icon6" alt="node" src="/assets/node.png" />
              </div>
            </div>
            <div class="frame-parent3">
              <div class="git-git-is-a-distributed-versi-wrapper">
                <div class="git-git-is-container">
                  <p class="git">Git</p>
                  <p class="blank-line7">&nbsp;</p>
                  <p class="git-is-a">
                    Git is a distributed version control system that tracks changes
                    in source code during software development, allowing multiple
                    developers to collaborate efficiently and manage different
                    versions of a project. <a class="link_style" href="https://en.wikipedia.org/wiki/Git">Learn More</a>
                  </p>
                </div>
              </div>
              <div class="image-wrapper4">
                <img class="image-icon7" alt="git" src="/assets/git.png" />
              </div>
            </div>
            <div class="frame-parent4">
              <div class="figma-figma-is-a-web-based-des-wrapper">
                <div class="figma-figma-is-container">
                  <p class="figma">Figma</p>
                  <p class="space8">&nbsp;</p>
                  <p class="figma-is-a">
                    Figma is a web-based design tool that enables real-time
                    collaboration on user interface and user experience design,
                    allowing teams to create, prototype, and iterate on designs
                    seamlessly. <a class="link_style" href="https://en.wikipedia.org/wiki/Figma">Learn More</a>
                  </p>
                </div>
              </div>
              <div class="image-wrapper5">
                <img class="image-icon8" alt="figma" src="/assets/figma.png" />
              </div>
            </div>
            <div class="frame-parent5">
              <div class="vs-code-visual-studio-code-vs-wrapper">
                <div class="vs-code-visual-container">
                  <p class="vs-code">VS Code</p>
                  <p class="blank-line9">&nbsp;</p>
                  <p class="visual-studio-code">
                    Visual Studio Code (VS Code) is a lightweight, open-source code
                    editor developed by Microsoft that supports a wide range of
                    programming languages and features extensions for enhanced
                    productivity and customization. <a class="link_style" href="https://en.wikipedia.org/wiki/Visual_Studio_Code">Learn More</a>
                  </p>
                </div>
              </div>
              <div class="image-wrapper6">
                <img class="image-icon9" alt="vs-code" src="/assets/vs-code.png" />
              </div>
            </div>
            <div class="frame-parent6">
              <div class="chatgpt-chatgpt-is-an-ai-tool-wrapper">
                <div class="chatgpt-chatgpt-is-container">
                  <p class="chatgpt">ChatGPT</p>
                  <p class="space">&nbsp;</p>
                  <p class="chatgpt-is-an">
                    ChatGPT is an AI tool that helps developers by generating code
                    snippets, explaining programming concepts, troubleshooting
                    issues, and providing guidance on best practices. <a class="link_style" href="https://en.wikipedia.org/wiki/ChatGPT">Learn More</a>
                  </p>
                </div>
              </div>
              <div class="image-wrapper7">
                <img class="image-icon10" alt="chat-gpt" src="/assets/chat-gpt.png" />
              </div>
            </div>
          </main>
        </div>
      
    </div>


    <%- include('inner_partials/footer1.ejs'); -%>